/* all devices main */
*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
    margin: 0;
}
#page-container{
    min-height:100vh;
}
#content-wrap{
    min-height: 100vh;
    margin-bottom: -4rem;
    background-color:#dce0e0;
}
#content-wrap::after{
    content:"";
    display:block;
}
footer, #content-wrap::after{
    height:4rem;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    overflow: hidden;
}
.icon{
    display:none;
}
nav ul{
    padding:15px;
    background-color: aquamarine;
}
nav ul li{
    display: inline;
    padding:15px;
    overflow: auto;
}
nav ul li:hover{
    background-color: aqua;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
h1 {
    text-align:center;
}
.ul-page, .ol-page{
    margin-left:40px;
}
/* lil margin */
.lil-margin{
    margin-left: 5px;
}
/* font colors */
.right{
    text-align: right;
    margin:1em;
}
/*footer*/
footer {
    text-align:center;
    background-color:blue;
}
.box{
    display: flex;
    align-items:center;
    justify-content: center;
}
.footer_links, .footer_links::after{
    color:inherit;
    text-decoration: none;
}
.pexels{
    width: 20px;
    height: 20px;
    padding:10px;
}
.icon {
    display: none;
  }
.home_img{
    float: left;
}
.home_img_retro{
    float:left;
    filter: hue-rotate(190px), brightness(1.4px), contrast(1px), grayscale(0)
}