/* all devices */
*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
    margin: 0;
}
#page-container{
    min-height:100vh;
}
#content-wrap{
    min-height: 100vh;
    margin-bottom: -4rem;
    background-color:burlywood;
}
#content-wrap::after{
    content:"";
    display:block;
}
footer, #content-wrap::after{
    height:4rem;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    padding:15px;
    background-color: aquamarine;
}
nav ul li{
    display: inline;
    padding:15px;
    overflow: auto;
}
nav ul li:hover{
    background-color: aqua;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
h1 {
    text-align:center;
}
.ul-page{
    margin-left:40px;
}

footer {
    text-align:center;
    background-color:blue;
}
.box{
    display: flex;
    align-items:center;
    justify-content: center;
}
.footer_links, .footer_links::after{
    color:inherit;
    text-decoration: none;
}
.pexels{
    width: 20px;
    height: 20px;
    padding:10px;
}
