/* viewport devices */
@media only screen and (max-width: 720px) {
    nav ul li{
        display: block;
        padding:5px;
        margin:2px;
        overflow: hidden;
    }
    nav ul{
        text-align:center;
    }
  }