/* viewport devices */
@media only screen and (max-width: 720px) {
    /* .site-nav a:not(:first-child){
        display:none;
    }
    .site-nav a.icon{
        float: right;
        display: block;
    } */
  }
@media only screen and (max-width: 720px) {
    html, body {
        position: relative;
        margin: 0;
        border: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      body {
        overflow: auto;
        width: 100%;
        height: 100%;
      }
    /* .site-nav.responsive{
        position: relative;
    }
    .site-nav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .site-nav.responsive a{
        float: none;
        display: block;
        text-align: left;
    } */
    nav ul{
        text-align:center;
    }
    nav ul li{
        display: block;
        padding:5px;
        margin:2px;
        overflow: hidden;
    }
  }